@import url('https://fonts.googleapis.com/css?family=Roboto:400');

body {
  margin: 0;
  background-color: #292929;
  color: #fff;
  font-family: Roboto;
  height: 100%;
}

html, #root {
  height: 100%;
}

.div__footer {
  display: flex;
  width: 450px;
  justify-content: space-between;
  padding: 50px 0;
}
