.div__loginPage {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div__loginPageButtons {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.button__loginPage {
  border: 1px solid #58585863;
  background-color: #2121217d;
  color: #fff;
  padding: 15px;
  margin: 4px 0;
}